<MudCarousel Class="mud-width-small mt-5 mb-5" Style="height:500px; border-radius:15px;" TData="object" AutoCycle="true">
    <MudCarouselItem Color="@Color.Primary" Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid="true" Style="width:100%;  height:100%;" ObjectFit="ObjectFit.Cover" Src="images/Carousel/1.jpg"></MudImage>
        </div> 
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid="true" Style="width:100%;  height:100%;" ObjectFit="ObjectFit.Cover" Src="images/Carousel/2.jpg"></MudImage>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Color="@Color.Tertiary">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid="true" Style="width:100%;  height:100%;" ObjectFit="ObjectFit.Cover" Src="images/Carousel/3.jpg"></MudImage>
        </div>
    </MudCarouselItem>
    <MudCarouselItem>
        <div class="d-flex" style="background-color:lightgray; height:100%">
            <MudImage Fluid="true" Style="width:100%;  height:100%;" ObjectFit="ObjectFit.Cover" Src="images/Carousel/4.jpg"></MudImage>
        </div>
    </MudCarouselItem>
    <MudCarouselItem>
        <div class="d-flex" style="background-color:lightgray; height:100%">
            <MudImage Fluid="true" Style="width:100%;  height:100%;" ObjectFit="ObjectFit.Cover" Src="images/Carousel/5.jpg"></MudImage>
        </div>
    </MudCarouselItem>
</MudCarousel>
@code {

}
